.sn__account {
	margin-bottom: 50px;

	.sn__account-wrapper {
		max-width: 1200px;
		width: 100%;
		margin: 0px auto;

		.sn__account-title {
			font-size: 30px;
			font-weight: 400;
			text-align: center;
			margin: 40px 0px 0px;
		}

		.sn__account-thankyou {
			text-align: center;
			margin-top: 50px;
			
		}
	}
}


				